html{
    height: 100%;
}
body{
    background: url("https://i.pinimg.com/originals/76/58/1f/76581ff98b9fefed901edead972d1ef1.gif");    
    height: 100%;
}
.container{
    padding: 20px;
    height: 100%;
}
.block{
    margin: 5px;
    display: inline-block;
}
.results{
    text-align: center;
}
.tag{
    border-radius: 25%;
    margin: 5px;
    background: #e5d7ff;
    border-color: #d5bfff;
    color: #00a5ff;

}